name: Django CI/CD

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Install Dependencies
      run: |
        pip install -r requirements.txt

    - name: Run Tests
      run: |
        python manage.py test

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to PythonAnywhere
        env:
          PA_API_TOKEN: ${{ secrets.PA_API_TOKEN }}
        run: |
          echo "Deploying to PythonAnywhere..."
          curl -X POST https://www.pythonanywhere.com/api/v0/user/<yourusername>/webapps/<yourapp>.pythonanywhere.com/reload/ \
          -H "Authorization: Token $PA_API_TOKEN"
